:root {
  /* Primary Colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral Colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --shadow-blue: hsl(225, 100%, 91%);
}

body {
  background-image: url('.././images/pattern-background-desktop.svg' );
  background-position: 0 0;
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  background-color: var(--pale-blue);
  color: var(--desaturated-blue);
}

.card {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 17px 17px var(--shadow-blue);
  margin: 10% auto;
  max-width: 23.5rem;
}

.svg-hero {
 border-radius: 30px 30px 0 0;
}

.card-body {
  margin: 5% 0;
}

.card-body h1 {
  font-weight: 900;
  font-size: 1.4rem;
  color: #000;
}

.card-body h2 {
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}

.card-body p {
  margin: 0;
  font-size: 1rem;
}

.advertisement {
  margin: 3% 6%;
}

.container {
  background-color: var(--very-pale-blue);
  width: 90%;
  margin-top: 6%;
  padding: 5% 5%;
}

.annual-plan {
  text-align: left;
}

.card-link {
  color: var(--bright-blue);
  font-size: 0.8rem;
}

.card-link:hover {
  color: var(--desaturated-blue);
  text-decoration: none;
}

.btn-blue {
  background-color: var(--bright-blue);
  border-radius: 9px;
  box-shadow: 0 17px 17px var(--shadow-blue);
  color: var(--pale-blue);
  font-size: 0.8rem;
  font-weight: 700;
  margin: 6% 0;
  padding: 3%;
  text-decoration: none;
  width: 90%;
}

.btn-blue:hover {
  background-color: var(--desaturated-blue);
  color: var(--pale-blue);
}

.btn-blue:focus {
  background-image: none;
  outline: 0;
  box-shadow: 0 17px 17px var(--shadow-blue);
}

.btn-white {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--desaturated-blue);
}

.btn-white:focus {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.attribution {
  margin-top: 2rem;
}
